.choise {
    button {
        margin: 20px;
        display: block;
    }
}

.score {
    text-align: center;

    .score-column {
        @include wyrownanie(50%);
        text-align: center;
    }
}
