.choise {
    button {
        margin: 20px;
        display: block;
        @include button-style($color, white);
    }
}

.score {
    text-align: center;

    .score-kolumn {
        @include wyrownanie(50%);
        text-align: center;
    }
}
