body {
    @include clear-mp;
}

p {
    font-size: $size-medium;
    line-height: 1.5;
    font-size: 20px;
}

header {
    text-align: center;

    h2 {
        font-size: 40px;
    }

    p {
        font-size: 25px;
    }
}

section {
    @include wyrownanie(33%);
}

button {
    @include button-style($color, $color-background);
}
