@import 'general';

header {
    text-align: center;

    h2 {
        font-size: 40px;
    }

    p {
        font-size: 25px;
    }
}

section {
    @include wyrownanie(33%);
}

.choise {
    button {
        margin: 20px;
        display: block;
        @include button-style($color, white);
    }
}

.score {
    text-align: center;
    
    .score-kolumn {
        @include wyrownanie(50%);
        text-align: center;
    }
}